@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --background: #393646;
  --main1: #4F4557;
  --main2: #6D5D6E;
  --main2-hover: #5b4b5d;
  --main3: #F4EEE0;
  --main3-hover: #ebe5d7;
  --main3-active: #dbd5c9;
  --green: #9EB384;
  --green-hover: #8a9e71;
  --green-active: #73855c;
  --red: #A54848;
  --red-hover: #8e3838;
  --red-active: #772b2b;
  --blue: #96B6C5;
  --yellow: #E7E09A;


  font-family: "Kanit", sans-serif;
  font-weight: 400;

  color-scheme: dark;
  color: var(--main3);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100dvh;

  font-size: clamp(1.1rem, 4vw, 1.4rem);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header, main, footer {
  width: min(95%, 800px);
}

header, footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

header {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.8rem, 9vw, 4rem);
  text-align: center;
}

.logo-main {
  font-weight: 700;
}

.logo-desc {
  font-weight: 500;
  font-style: italic;
}
