@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --background: #393646;
  --main1: #4F4557;
  --main2: #6D5D6E;
  --main2-hover: #5b4b5d;
  --main3: #F4EEE0;
  --main3-hover: #ebe5d7;
  --main3-active: #dbd5c9;
  --green: #9EB384;
  --green-hover: #8a9e71;
  --green-active: #73855c;
  --red: #A54848;
  --red-hover: #8e3838;
  --red-active: #772b2b;
  --blue: #96B6C5;
  --yellow: #E7E09A;


  font-family: "Kanit", sans-serif;
  font-weight: 400;

  color-scheme: dark;
  color: var(--main3);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-size: 1.1em;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100dvh;

  font-size: clamp(1.1rem, 4vw, 1.4rem);
}

@media screen and (max-height: 600px) and (min-aspect-ratio: 1/1) {
  body {
    height: auto;
  }
}

::selection {
  background: rgba(244, 238, 224, 0.2);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}



header, main, footer {
  width: min(95%, 800px);
}

header, footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  min-height: 0;
}

#app {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > a {
  color: var(--main2);
  text-decoration: none;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  text-align: center;

  margin: 1rem;
  margin-bottom: 1.5rem;
}

footer > a:visited {
  color: var(--main2);
}

footer > a:hover {
  color: var(--main2-hover);
}

footer > a:active {
  color: var(--main1);
}

footer > a:focus-visible {
  outline: none;
  text-decoration: underline;
}

.footer-link-span {
  white-space: nowrap;
}

header {
  margin-top: min(1em, 2rem);
  margin-bottom: min(1em - 1.2rem, 2rem);
  font-family: "Playfair Display", serif;
  font-size: clamp(1.8rem, 9vw, 4rem);
  text-align: center;
}



h1 {
  font-weight: 400;
  font-size: clamp(1.6rem, 7vw, 2.5rem);
}

h2 {
  font-weight: 400;
  font-size: clamp(1.4rem, 5vw, 2.1rem);
}



header > a {
  color: var(--main3);
  text-decoration: none;
}

header > a:hover {
  text-shadow: 0px 0px 10px rgba(244, 238, 224, 0.2);
}

header > a:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  outline: none;
}

header > a:visited {
  color: inherit;
  text-decoration: inherit;
}

.logo-main {
  font-weight: 700;
}

.logo-desc {
  font-weight: 500;
  font-style: italic;
}


.main-button {
  margin: 0.4rem;
  padding: 0.3em 1.3em;
  min-width: 5em;

  background-color: var(--main3);
  border-radius: 2rem;
  border: none;

  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: var(--main1);
  font-size: min(1.3em, 1.6rem);
}

.main-button:hover {
  background-color: var(--main3-hover);
}

.main-button:active {
  background-color: var(--main3-active);
}

.main-button:focus-visible {
  outline: 0.1rem solid var(--main3);
  outline-offset: 0.1rem;
}

.main-button-sm {
  min-width: none;
}



input[type="text"] {
  margin: 0.4rem;
  padding: 0.8em 1.5em;

  background-color: var(--main1);
  border-radius: 2rem;
  border: none;
  outline: 0.1rem solid var(--background);
  outline-offset: 0.1rem;

  font-family: "Kanit", sans-serif;
  font-weight: 600;
  color: var(--main3);
  font-size: min(1em, 1.3rem);
}

input[type="text"]:focus-visible {
  outline: 0.1rem solid var(--main2);
}

input[type="text"]:hover {
  outline: 0.1rem solid var(--main2);
}

input[type="text"]::placeholder {
  font-weight: 300;
  font-style: italic;
  color: var(--main3);
  opacity: 0.3;
}



.login-form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-page > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-header {
  width: 100%;
  margin-bottom: 0.8rem;
}

.game {
  padding: 1.1em 1.4em;

  gap: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  border-radius: 2rem;

  background-color: var(--main1);
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.error-message {
  color: var(--red);
  text-align: center;
}

.info-text {
  padding: 0.5em 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
}

.additional-info {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  font-size: clamp(1.4rem, 5vw, 2rem);
  font-style: italic;
  color: var(--main2);
  overflow-y: auto;
}

.event-small-desc {
  display: flex;
  width: 100%;
  
  font-size: 0.8em;
  font-style: italic;
}